:root {
    --main: rgb(15, 47, 33);
    --maint: rgba(15, 47, 33, 0.682);
    --sec: rgb(0, 79, 45);
    --sect: rgba(0, 79, 45, 0.646);
    --acc: rgb(138, 170, 121);
    --acct: rgba(138, 170, 121, 0.644);
    --light: rgb(238, 255, 247);
    --lightt: rgba(238, 255, 247, 0.503);
    --dark: rgb(20, 27, 24);
    --darkt: rgba(20, 27, 24, 0.638);
}

h1,h5,h4,h3,h2,p {
    font-family: 'Montserrat', sans-serif;
    color: var(--acc);
}

p,label{
    color: var(--light);
}


a:link {
    color: var(--acc);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: var(--acc);
    text-decoration: none;
  }
  
  /* mouse over link */
  .navbar a:hover {
    color: var(--acc);
    text-decoration: none;
  }
  
  /* selected link */
  .navbar a:active {
    color: var(--light);
    text-decoration: none;
  }
  

/* 
font-family: 'Montserrat', sans-serif;
*/

body{
    margin: 0px;
    background-attachment: fixed;
    background-image:linear-gradient(to bottom, var(--maint), var(--acct)), url(/public/media/sfondoh.jpg);    
}

/* STILI NAVBAR */
.navbar-custom{
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: var(--darkt);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.mysearchbar{
    height: 35px;
    margin-inline: 10px;
}

.myinputsearch{
    background-color: var(--lightt);
    border-color: var(--sec);
    color: var(--light);
}

.riganavbar{
  height:  50px;
}

/* logo */
.divlogo{
    width: 140px;
  }
  
.imglogo{
    width: 100%;
  }

.mycard{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 10px var(--lightt);
    background-color: var(--darkt);
    height: 450px;
}

.mycard:hover{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 10px var(--lightt);
    background-color: var(--darkt);
    height: 450px;
}

.cardimg{
    border-radius: 20px 20px 0px 0px;
}

.cardtitle{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardprice{
    margin-top: 10px;
    margin-bottom: 3px;
}

.cardcategory{
    padding-inline: 10px;
    position: absolute;
    bottom: 0%;
    background-color: var(--darkt);
    border-radius: 0px 20px 0px 0px;    
}

.carddescription{
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carddate{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-inline: 3px;
    height: 25px;
    border-radius: 20px 0px 20px 0px;
    background-color: var(--acct);
}

.mybtn{
    background-color: var(--darkt);
    color: var(--acc);
    border-color: var(--acc);
    border-radius: 5px 5px 5px 5px;
    width: 160px;
    height: 40px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 0px 0px 10px;
    font-style: italic;
  }

.mybtn:hover {
    /* Stili quando il cursore si posiziona sopra il bottone */
    background-color: var(--acc);
    color: var(--dark);
    border-color: var(--dark);
    box-shadow: 0px 0px 10px var(--acc);

  } 
  .mydrop{
    margin-left: -200px;
  }

.myinput {
    background-color: var(--lightt);
}

.myinput:hover {
    /* Stili quando il cursore si posiziona sopra il bottone */
    background-color: var(--acc);
    color: var(--dark);
    border-color: var(--dark);
    box-shadow: 0px 0px 10px var(--acc);

  }

  .myinput:focus {
    /* Stili quando il cursore si posiziona sopra il bottone */
    background-color: var(--lightt);
    color: var(--dark);
    border-color: var(--dark);
    box-shadow: 0px 0px 10px var(--acc);

  }

.myheader {
    margin-top: 5rem;
    /* background-color: var(--darkt); */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/media/sfondoh.jpg);
    border-radius: 20px 20px 20px 20px;
    height: 10rem;

}

.mysezione11{
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--darkt);
    border-radius: 20px 20px 0px 0px;
}

.rigahomesezprod {
    width: 100%;
}

.contsx {
    height: 100%;
}

.colsezsx {
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    height: 80px;
    max-height: 80px;
    overflow: hidden;
    background-color: var(--darkt);
    padding: 1rem;
}

.contentcolsx{
    width: 100%;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
}

/* .mytext{
    text-overflow: ellipsis;
    text-overflow: " [..]";
    direction: ltr;
} */

.coldetsx{
    border-radius: 20px 20px 20px 20px;
    padding: 2rem 2rem 2rem 0rem;
        
}

.coldetdx{
    border-radius: 20px 20px 20px 20px;
    padding: 2rem 0rem 2rem 2rem;
}

.imgdet{
    border-radius: 30px 30px 30px 30px;
}

.coldetsxd{
    border-radius: 20px 20px 20px 20px;
    padding: 2rem; 
    background-color: var(--darkt); 
    box-shadow: 8px 10px 10px var(--dark);     
}

.coldetdxd{
    border-radius: 20px 20px 20px 20px;
    padding: 2rem;
    background-color: var(--darkt);
    box-shadow: 8px 10px 10px var(--dark);
}

.coldetsxd:hover{
    border-radius: 20px 20px 20px 20px;
    padding: 2rem; 
    background-color: var(--lightt);
    box-shadow: 8px 10px 10px var(--light);      
}

.coldetdxd:hover {
    border-radius: 20px 20px 20px 20px;
    padding: 2rem;
    background-color: var(--lightt);
    box-shadow: 8px 10px 10px var(--light);
}

 
.myformdiv{
    margin-top: 2rem;
}

.mysection{
    background-color: var(--darkt);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 30px 30px 30px 30px;
}
@media (min-width: 1500px) and (max-width: 2000px) {
    /* Le regole CSS specifiche per gli schermi md vanno qui */
    .mycard{
        width: 280px;
    }
  }
 
/* -----------------FOOTER-------------------- */

.myfooter{
    background-color: var(--darkt);
}

.myfootercolprinc{
    padding: 1rem;    
}

.myfootercol{
    color: var(--light);
}
.dec{
    font-size: small;
    font-weight: 300;
}
.int{
    font-size: 2rem;
    font-weight: 600;
}